
@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="col-md-4">
        <iframe src='https://webchat.botframework.com/embed/pstenderhelpdeskpredevbotapp?s=fj4SOjLm_VM.cwA.pMI.2d3pBll2wG-L_oQXb2onJJa8dJQSSVoijimrbt6Mc9I' width="500" height="400" frameborder="0" scrolling="auto"></iframe>
    </div>
</div>

